#header{
    .nav-sidebar {
        height: 100%;
        display: flex;
        position: absolute;
        align-items: center;
        right: -3%;

        .bar {
            height: 3px;
            width: 30px;
            margin-bottom: $mg-1;
            border-radius: 4px;
            background-color: rgba(0, 49, 52, 0.7);
            transition: all .5s;
        }

        .change{
            &.bar-1{
                transform: translateY(13px) rotate(-45deg);
            }
            &.bar-2{
                opacity: 0;
                transform: translateX(10px);
            }
            &.bar-3{
                transform: translateY(-3px) rotate(45deg);
            }
        }
    }
}